*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    
}

body{
    background: darkgray;
    
    
}

.container-box{
    padding: 10px;
    max-width: 600px;
    width: 100%;
    min-height: 200px;
    height: 100%;
    background-image: linear-gradient(rgb(124, 124, 124), darkgray);
    margin: 10px auto;
    border-radius: 22px;
    

}

.container-title{
    font-size: larger;
    text-align: center;
    color:white;
    text-shadow: 3px 2px 3px rgba(30, 30, 30, 0.8);

}


.container-item{
    align-items: center;
    justify-content: center;
}

.container-item #item{
    padding: 5px 12px;
    width: 80%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: large;
}

input{
    border-radius: 6px;
       
}


.botao{
    border-radius: 14px;
    cursor:pointer;
    
    padding: 5px;
    font-size: large;
    float: right;
}

.botao:hover{
    opacity: 0.8;
}

.botao:active{
    opacity: 0.6;
}
 


.listbuy{
    letter-spacing: 1px;
    margin:10px 16px;
    padding-left: 10px;
    font-weight: 600;
    font-size: larger;
    color: white;
    text-shadow: 2px 1px 2px rgba(30, 30, 30, 0.9);
}

.menslembrete p{
    font-size: x-small;
    margin-top: 5px;
    margin-bottom: 0px;
}





@media(max-width:630px){
    
.container-box{
    padding: 10px 5px;
}


.container-item #item{
    padding: 5px 12px;
    width: 77%;
    
}
}

@media(max-width:600px){
    
.container-title{
    font-size: large;
    margin-bottom: 10px;
   

}



.container-item #item{
   
    width: 76%;
 

}



.botao{
    padding: 4px;
    
}

}



@media(max-width:486px){
    
    
.container-item #item{
    padding: 5px 8px;
    width: 73%;
    font-size: normal;
}


.botao{
    padding: 4px;
    font-size: medium;
}


}



@media(max-width:380px){
      
.container-item #item{
    width: 70%;
}

}


@media(max-width:348px){
      
    .container-item #item{
        width: 65%;
    }
    
    }
